{% extends "contacts/layout.html" %}
{% block body %}
    <section class="content">
        <div class="box box-primary">
            <div class="box-header">
                <a href="/contacts/add">
                    <center>
                        <button type="button" class="btn btn-primary btn-flat">
                            <span class="glyphicon glyphicon-plus"></span> Add new contact
                        </button>
                    </center>
                </a>
            </div>

            <div class="box-body">
                <table id="datacontact" class="table table-bordered table-striped">
                    <thead align="center">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if data|length == 0 %}
                        <tr>
                            <td>No Data</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% else %}
                        <tr>
                            {% for row in data %}
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td align="center">
                                    <a href="/contacts/update/{{ row[0] }}">
                                        <button type="button" class="btn btn-sm btn-warning btn-flat"
                                                title="Update"><span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </a>
                                    <a href="/contacts/delete/{{ row[0] }}">
                                        <button type="button" class="btn btn-sm btn-danger btn-flat"
                                                title="Delete"><span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </a>
                                </td>
                                </tr>
                            {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
        
{% endblock %}
